<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Express Forms</title>
  </head>
  <body>
    <header>
      <h1> Express Forms </h1>

      <nav>
        <a href="/"> Home </a>
        <a href="/login"> Login </a>
      </nav>
    </header>

    <!-- SUPER important -->
    <%- body %>

    <footer>
      <p> Made with 💔 at Ironhack. </p>
    </footer>
  </body>
</html>
