<h2> Log In </h2>

<form method="get" action="/process-login">
  <label for="email-input"> Email </label>
  <input  id="email-input" type="email" name="myEmail" />
  <br />

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" name="myPassword" />

  <button> Log In </button>
</form>
